.game-item {
    text-decoration: none;
    color: white;
    height: 340px;
    width: 320px;
    background-color: rgb(36, 37, 41);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin-bottom: 60px;
    margin-right: 50px;
}

.game-item__btn {
    position: relative;
    padding-top: 12px;
}
.game-item__title {
    font-size: 20px;
    font-weight: bold;
}

.game-item__genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.game-item__details {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.game-item__description {
    margin-top: 10px;
    font-size: 16px;
}

.game-btn__price {
   font-weight: bold;
   font-size: 20px;
}

.game-item__genre-box {
    background-color: rgb(17, 14, 15);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}